@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Raleway:400,200,100,300,500,600,700,800,900");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: Raleway, Arial, sans-serif;
}

body button {
  width: 170px;
  height: 40px;
  border-radius: 2em;
  border: none;
  color: #FFFF;
  font-weight: bold;
  background-color: #3d9f96;
  cursor: pointer;
}

body header {
  background-image: url("../assets/img/header_bg.jpg");
  color: #FFFF;
}

body header nav {
  border-bottom: 1px grey solid;
  font-weight: bold;
  padding-right: 5%;
}

body header nav #Sayna_hidden {
  display: none;
}

body header nav ul {
  text-align: center;
}

body header nav ul li {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5%;
  display: inline-flex;
}

body header nav ul li:nth-child(-n+2) a {
  color: #FFFF;
  text-decoration: none;
}

body header nav ul li .Sayna_logo {
  width: 250px;
  margin-top: 15px;
}

body header nav ul li:last-child {
  padding-left: 15%;
}

body header nav ul li:last-child a {
  color: #3d9f96;
}

body header .call_to_action {
  font-weight: lighter;
  text-align: center;
}

body header .call_to_action .cta_content {
  margin-left: 24%;
  margin-right: 24%;
}

body header .call_to_action #cta_content_1 {
  font-size: 35px;
  line-height: 30px;
  margin-top: 25px;
}

body header .call_to_action #cta_content_2 {
  font-size: 18px;
  line-height: 80px;
  font-weight: bold;
  color: #3d9f96;
}

body header .call_to_action #cta_content_3 {
  line-height: 30px;
}

body header .call_to_action button {
  margin-top: 50px;
  margin-bottom: 40px;
  font-weight: bold;
}

body header .call_to_action img {
  width: 500px;
  height: 400px;
}

body header .social {
  background-color: #f7f7f7;
  text-align: center;
}

body header .social img {
  padding: 20px;
  margin-top: 20px;
}

body header .social p {
  color: #3d9f96;
  padding-bottom: 50px;
  font-weight: bold;
  text-transform: uppercase;
}

body main .app_presentation .check {
  text-align: center;
}

body main .app_presentation .check .new_app {
  padding: 50px 0 30px 0;
  font-size: 20px;
}

body main .app_presentation .check .new_app_content {
  padding: 0 30% 0 30%;
}

body main .awesomeness {
  background-image: url("../assets/img/map_bg.png");
  padding: 50px 5% 40px 15%;
}

body main .awesomeness ul {
  display: inline-flex;
}

body main .awesomeness ul li figure img, body main .awesomeness ul li figure figcaption {
  display: inline-flex;
  vertical-align: middle;
}

body main .awesomeness ul li figure figcaption {
  line-height: 50px;
  font-size: 17px;
  font-weight: bold;
}

body main .awesomeness ul li figure p {
  font-size: 14px;
  line-height: 20px;
  padding-left: 30%;
}

body main .awesomeness ul img {
  padding-left: 30%;
}

body main .awesomeness ul #awesome_2 {
  text-align: right;
}

body main .awesomeness ul #awesome_2 figure img {
  float: right;
  margin-top: 10px;
  padding-left: 20px;
}

body main .awesomeness ul #awesome_2 figure figcaption {
  padding-left: 40%;
}

body main .awesomeness ul #awesome_2 figure p {
  padding-left: 30%;
}

body main .quote {
  background-image: url("../assets/img/seperator1-.jpg");
  text-align: center;
  padding: 5% 0 5% 0;
  color: #FFFF;
}

body main .quote #avatar {
  margin-bottom: 10px;
}

body main .quote p {
  line-height: 30px;
  margin: 0 32% 0 32%;
}

body main .quote span {
  color: #3d9f96;
  line-height: 70px;
  font-weight: bold;
}

body main .shots {
  background-color: #f7f7f7;
  padding: 5% 0 0 25%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "best" "pics";
}

body main .shots .best {
  grid-area: best;
  padding-bottom: 5%;
}

body main .shots .pics {
  grid-area: pics;
  display: inline-flex;
}

body main .shots .pics figure {
  line-height: 25px;
}

body main .shots .pics figure:nth-child(n+2) {
  padding-left: 8%;
}

body main .shots .pics figure:nth-child(-n+2) figcaption {
  margin-bottom: 20%;
}

body main .details {
  margin: 5% 20% 5% 25%;
}

body main .details .details_1 {
  display: inline-flex;
}

body main .details .details_1 div {
  margin-top: 20px;
  line-height: 30px;
}

body main .details .details_1 div p {
  padding-bottom: 30px;
}

body main .details .details_1 div p span {
  font-size: 28px;
}

body main .details .details_2 {
  line-height: 25px;
}

body main .details .details_2 img {
  float: right;
  width: 52%;
}

body main .details .details_2 div {
  width: 50%;
}

body main .details .details_2 div div {
  height: 20px;
}

body main .details .details_2 div p {
  margin: 20px 0 20px 0;
}

body main .details .details_2 div .responsive {
  font-size: 20px;
}

body footer .responsive_footer {
  display: none;
}

body footer .about_us {
  background-color: #f7f7f7;
  margin-bottom: 30px;
  padding-left: 15%;
}

body footer .about_us table {
  padding-top: 30px;
  line-height: 35px;
}

body footer .about_us table tr th {
  width: 33.33%;
  text-transform: uppercase;
}

body footer .about_us table tr td ul {
  padding-left: 40%;
}

body footer .foot {
  margin-left: 15%;
  display: flex;
}

body footer .foot p {
  margin-bottom: 30px;
}

body footer .foot div {
  display: inline-block;
  margin-left: 30%;
}

body footer .foot div img {
  padding-left: 20px;
}
